/* Buttons */
.button-sub {
    background-color: #D9D9D9;
    color: #000000;
    border: none;
    border-radius: 8px;
    text-decoration: none;
}

.button-main {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    text-decoration: none;
}

.button-padding {
    padding: 1.25rem 1.5rem;
}

.button-delete {
    background-color: transparent;
    border: none;
    text-decoration: none;
}

.button-edit-table-padding {
    padding: 0.3rem 2rem;
}

.x-button {
    font-size: 2rem;
    font-weight: 250;
}

/* END OF Buttons */

/* 
   Modals 
   Learned about modals from w3schools.com. Code might be slightly similar as my use case is the same as with their example.
*/
.modal-wrapper {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #000000;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 26rem;
    min-width: 26rem;
    height: 14.5rem;
    min-height: 14.5rem;
    margin: 15% auto;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 0.5rem;
    overflow: auto;
}

.modal-header {
    padding-left: 2rem;
    padding-top: 0rem;
}

.modal-form-wrapper {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.input-space {
    margin-left: 0.5rem;
    border: none;
    outline: none;
    width: 17.5rem;
    border-bottom: 2px solid #000000;
}

.modal-button-padding {
    padding: 0.7rem 1.5rem;
}

.modal-button-container-with-cancel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.modal-button-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.error-message {
    color: red;
    visibility: hidden;
    padding-left: 2rem;
    margin-bottom: 0rem;
}

.error-message.error-visible {
    visibility: visible;
}

.confirmation-modal-form-wrapper {
    padding-top: 0rem;
    text-align: center;
    margin-bottom: 2rem;
}
/* END of Modals */


/* Main Page - Tables */
.data-table {
    display: none;
    border-collapse: collapse;
    table-layout: fixed;
}

.data-table.table-header-visible {
    display: block;
}

.first-col-element {
    padding-left: 2rem;
    padding-right: 8rem;
}

.first-col-header {
    padding-left: 2rem;
    text-align: left;
}

th, td {
    border-bottom: 1px solid #000000;
    padding: 0.1rem;
}

.item-total-string {
    margin-bottom: 1rem;
}
