/* Buttons */
.button-sub {
    background-color: #D9D9D9;
    color: #000000;
    border: none;
    border-radius: 8px;
    text-decoration: none;
}

.button-sub:disabled {
    background-color: #E6E6E6; 
    color: #A0A0A0; 
    border: none;
    cursor: not-allowed;
    opacity: 0.6;
    border-radius: 8px;
    text-decoration: none;
}

.button-main {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    text-decoration: none;
}

.button-padding {
    padding: 1.25rem 1.5rem;
}

.button-delete {
    background-color: transparent;
    border: none;
    text-decoration: none;
}

.button-edit-table-padding {
    padding: 0.3rem 2rem;
}

.x-button {
    font-size: 2rem;
    font-weight: 250;
}

/* END OF Buttons */

/* 
   Modals 
   Learned about modals from w3schools.com. Code might be slightly similar as my use case is the same as with their example.
*/
.modal-wrapper {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #000000;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 0.5rem;
}

.modal-content-flex {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 15% auto;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 0.5rem;
    overflow: auto;
}

.small-modal-size {
    width: 26rem;
    min-width: 26rem;
    height: 14.5rem;
    min-height: 14.5rem;
}

.big-modal-size {
    width: 30.5rem;
    min-width: 30.5rem;
    height: 24rem;
    min-height: 24rem;
}

.member-list-modal-size {
    width: auto;
    min-width: 30.5rem;
    max-width: max-content;
    height: auto;
    min-height: 13rem;
    max-height: max-content;   
    padding: 0.5rem; 
}

.payor-list-header {
    text-align: center;
}

.modal-header {
    padding-left: 2rem;
    padding-top: 0rem;
}

.modal-header-big-modal {
    padding-left: 2rem;
    margin-bottom: 0rem;
}

#modify-payors-modal-header {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.modal-form-wrapper {
    padding-top: 0.5rem;
    flex-direction: column;
}

.modal-form-wrapper-flex {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.modal-form-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.input-space {
    margin-left: 0.5rem;
    border: none;
    outline: none;
    width: 17.5rem;
    border-bottom: 2px solid #000000;
}

.input-space-big-modal-name {
    margin-left: 5rem;
}

.input-space-big-modal-amount {
    margin-left: 4.05rem;
}

.input-space-big-modal-filter {
    margin-left: 1.65rem;
}

.input-space-dropdown-list {
    margin-left: 1.65rem;
    width: 17.75rem;
    height: 2rem;
}

.new-expense-info-fields {
    display: inline;
}

.new-expense-item {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.new-expense-payor {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.modal-button-padding {
    padding: 0.7rem 1.5rem;
}

.modal-button-container-with-cancel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-button-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.modal-members-button {
    margin-left: 10.35rem;
}

#new-expense-modal-ok-button {
    margin-top: 2rem;
}

#new-expense-modal-member-list-button {
    margin-top: 0rem;
}

.error-message {
    color: red;
    visibility: hidden;
    padding-left: 2rem;
    margin-bottom: 0rem;
}

.error-message.error-visible {
    visibility: visible;
}

.confirmation-modal-form-wrapper {
    padding-top: 0rem;
    text-align: center;
    margin-bottom: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.75rem;
}

.checkbox-label-pair {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.select-all-checkbox-label-pair {
    padding-left: 2rem;
    margin-bottom: 0.5rem;
}

.payors-checkbox-label-pair {
    padding-left: 4.25rem;
    margin-bottom: 0.5rem;
}

/* END of Modals */

/* Main Page - Tables */
.data-table {
    display: none;
    border-collapse: collapse;
    table-layout: fixed;
}

.data-table.table-header-visible {
    display: block;
}

.first-col-element {
    padding-left: 2rem;
    padding-right: 8rem;
}

.first-col-header {
    padding-left: 2rem;
    text-align: left;
}

th, td {
    border-bottom: 1px solid #000000;
    padding: 0.1rem;
}

.item-total-string {
    margin-bottom: 1rem;
}
/* END OF Main Page - Tables */